<title>{{ page.title }}</title>
<meta charset="UTF-8">
<meta name="author" content="{{ include.author }}"/>
<meta name="robots" content="index, follow" />
<meta name="description" content="{{ include.description }}" />
<meta name="keywords" content="{{ include.tags }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="Aer6BmLRp_kjily3ltrCqys_5KBaRaS_iVIe73dlgVw" />

<!-- Favicon -->
<link rel="shortcut icon" type="image/png" href="/public/images/bsimard.png">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" type="text/css" media="all" href="/public/stylesheets/main.css">
<!-- RSS feed -->
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ '/' | append: page.locale | append: '/feed.xml'}}" />
