<!-- Navbar -->
<header class="navbar navbar-inverse navbar-fixed-top hidden-print">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="{{ page.locale| replace: 'fr', ''  | prepend : '/'}}" title="Benoît Simard">
                <img class="baseline" src="/public/images/bsimard.png" alt="Benoît SImard"/>
            </a>
            <nav class="nav-collapse collapse">
                <ul class="nav navbar-nav">
                  {% assign pages=site.pages | where:"locale", page.locale  | sort: 'order'%}
                  {% for my_page in pages %}
                    {% if my_page.title and my_page.autogen == nil %}
                      <li><a href="{{ my_page.url | prepend: site.baseurl }}" title="{{ my_page.title }}">{{ my_page.title }}</a></li>
                    {% endif %}
                  {% endfor %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                  {% assign posts=site.posts | where:"ref", page.ref | sort: 'locale' %}
                  {% for post in posts %}
                    {% if page.autogen == null %}
                        <li>
                        <a href="{{ post.url | prepend: site.baseurl }}" class="{{ post.locale }}">{{ post.locale }}</a>
                        </li>
                    {% endif %}
                  {% endfor %}

                  {% assign pages=site.pages | where:"ref", page.ref | sort: 'locale' %}
                  {% for page in pages %}
                    {% if page.autogen == null %}
                        <li>
                        <a href="{{ page.url | prepend: site.baseurl }}" class="{{ page.locale }}">{{ page.locale }}</a>
                        </li>
                    {% endif %}
                  {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</header>
