<!-- Navbar -->
<header class="navbar navbar-inverse navbar-fixed-top hidden-print">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/" title="Benoît Simard">
                <img class="baseline" src="/public/images/bsimard.png" alt="Benoît SImard"/>
            </a>
            <nav class="nav-collapse collapse">
                <ul class="nav">
                  <li><a href="/" title="Home">Home</a></li>
                  <li><a href="/blog" title="Blog">Blog</a></li>
                  <li><a href="/about-me.html" title="About me">About me</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
