<!-- header-->
<section id="overview" class="blockDefault firstBlock">
  <div class="container">
    <h1 itemprop="name">Benoît Simard</h1>
    <!-- Mes valeurs -->
    <div id="valeurs" class="row-fluid">
      <ul class="inline span12">
        <li class="span3" id="free"><a class="tooltip span2" data-placement="bottom" data-toggle="tooltip" href="index.html#" title="{{site.librist-desc[page.locale]}}"><i class="icon-linux"></i> <div>{{site.librist[page.locale]}}</div></a></li>
        <li class="span3" id="webdev"><a class="tooltip span2" data-placement="bottom" data-toggle="tooltip" href="index.html#" title="{{site.webdev-desc[page.locale]}}"><i class="iconmoon-earth"></i> <div>{{site.webdev[page.locale]}}</div></a></li>
        <li class="span3" id="java"><a class="tooltip span2" data-placement="bottom" data-toggle="tooltip" href="index.html#" title="{{site.kawa-desc[page.locale]}}"><i class="icon-coffee"></i><div>{{site.kawa[page.locale]}}</div></a></li>
        <li class="span3" id="data"><a class="tooltip span2" data-placement="bottom" data-toggle="tooltip" href="index.html#" title="{{site.data-desc[page.locale]}}"><i class="iconmoon-stack"></i> <div>{{site.data[page.locale]}}</div></a></li>
      </ul>
    </div>
  </div>
</section>

<!-- follow -->
<section id="follow" class="blockEven">
  <div class="container">
    <div class="row-fluid ">
      <div class="span6">
        <h2>{{site.find-me-on-web[page.locale]}}</h2>
      </div>
      <div class="span6">
        <ul class="inline pull-right">
          <li>
            <div>
              <a href="https://www.twitter.com/logisima" title="{{site.follow-me[page.locale]}}"><i class="icon-twitter"></i></a>
            </div>
          </li>
          <li>
            <div>
              <a href="https://www.github.com/sim51" title="{{site.github-account[page.locale]}}"><i class="icon-github-alt"></i></a>
            </div>
          </li>
          <li>
            <div>
              <a href="http://www.linkedin.com/pub/beno%C3%AEt-simard/5/8a5/124" title="{{site.linmed-account[page.locale]}}"><i class="icon-linkedin"></i></a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
