<!DOCTYPE html>
<html lang="{{page.locale}}">
<head>
  {% assign description=site.description[page.locale] %}
  {% assign keywords=site.keyword[page.locale] %}
  {% include head.html description=description author=site.me keywords=keywords %}
</head>
<body class="search">

  {% include header.html %}

  <main class="firstBlock blockDefault mainContainer container">
    <section>
      <div class="span12">
        <h1 itemprop="name">{{site.posts[page.locale]}}</h1>

        <!-- This loops through the paginated posts -->
        {% for post in paginator.posts %}
          {% include inline_post.html post=post %}
        {% endfor %}

        {% if paginator.total_pages > 1 %}
        <nav id="pagination" class="blockDefault">
          <div class="span12 pagination">
            <ul>
              {% if paginator.previous_page %}
                <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&lt;</a></li>
              {% endif %}

              {% for pagination in (1..paginator.total_pages) %}
                {% if pagination == paginator.page %}
                  <li><a class="current" href="#" title="Page n° {{ pagination }}">{{ pagination }}</a></li>
                {% elsif pagination == 1 %}
                  <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" title="Page n° {{ pagination }}">{{ pagination }}</a></li>
                {% else %}
                  <li><a href="{{ page.pagination.permalink | prepend: page.permalink | prepend: site.baseurl | replace: '//', '/' | replace: ':num', pagination  }}" title="Page n° {{ pagination }}">{{ pagination }}</a></li>
                {% endif %}
              {% endfor %}

              {% if paginator.next_page %}
                <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&gt;</a></li>
              {% endif %}
            </ul>
          </div>
          {% endif %}

        </div>
      </section>
    </main>
    {% include footer.html %}
  </body>
  </html>
